@font-face{
    font-family: 'HennyPenny';
    src:url(
        '/assets/fonts/HennyPenny-Regular.ttf'
       
    ) format('truetype');
}

*{
    margin:0;
    padding:0;
}


.hello{
    padding-left:2em;
    font-family: 'HennyPenny';

}

.hello::before{
    content: "";
    width:1em;
    height: 1em;
    display: inline-block;
    background:url("/assets/images/flutter-red.png") 100% 100% no-repeat;
}